@import "tailwindcss";
body,
input,
button,
textarea,
select,
a,
p,
span {
  font-family: var(--font-inter);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-marcellus);
}
.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.border-primary {
  border-color: var(--primary-color);
}

.hover\:bg-primary-dark:hover {
  background-color: #6b3f28;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #804f33;
  --black-color: #333333;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes zoom {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}
.swiper-pagination-bullet-active {
    background-color: #fff !important;
}

nav a,
nav button {
  color: var(--black-color);
  text-decoration: none;
  font-weight: 500;

}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #804f33 !important;
}
.services-swiper .swiper-pagination {
  margin-top: 10px;
  position: relative;
}

.services-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ccc;
  opacity: 1;
}

.services-swiper .swiper-pagination-bullet-active {
  background: #000;
  width: 24px;
  border-radius: 8px;
  transition: all 0.3s ease;
}
button {
    cursor: pointer;
}
.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}